# Data - ignorar contenidos pero permitir .gitkeep
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Modelos serializados (cualquier formato) pero mantener estructura
models/*.pkl
models/*.joblib
!models/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.ipynb_checkpoints/

# Notebooks ejecutados (mantener solo los limpios en el repo)
*_executed.ipynb

# IDE
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml
