# Data - ignorar raw (pesado) y train/test (regenerable), pero subir processed clave
data/raw/*
data/train/*
data/test/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/train/.gitkeep
!data/test/.gitkeep
!data/processed/finishers_with_clusters.parquet

# Modelos - SÍ se suben para que la app funcione al clonar el repo

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.ipynb_checkpoints/

# Notebooks ejecutados (versiones temporales)
*_executed.ipynb

# IDE
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/secrets.toml
